.buttonSF {
    width: 200px;
    height: 100px;

    font-size: 20px;
    cursor: pointer;
    border: solid 2px #282c34;
    background-color: #d2d2d2;


}

.buttonSF:hover{
    background-color: rgb(236, 236, 236);
}

.buttonSFcenter{
    right: 3rem;
    top: 1rem;

    z-index: 1;
    position : relative;
    display:flex;
    justify-content: right;
}

.Recherche{

    font-size: 20px;
    width: 600px;
    height: 50px;

}

.CadreRecherche{
    margin-top: 50px;
    overflow:scroll;
    overflow-x: hidden;
    display:block;

    margin-left:250px;
    width: 1400px;
    height: 700px;
    border: solid 3px #282c34;
}

li{
    list-style-type: none;
}
.nomDeFiche{
    border: solid 2px #282c34;
    width: 1300px;
    height: 50px;
    justify-content: left;
    margin-top: 10px;
    margin-left: 10px;

}

.recherchenom{
    margin-top:7px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 20px;
    display: flex;
    justify-content: left;
}
