.felxRowConstraint {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    padding-left: 5rem;
}

.divChamps{
    overflow: scroll;
    overflow-x: hidden;
    width: 70%;
    height: 55rem;
    min-width: 30rem;
    background-color: white;
    border: solid 3px #282c34;
}

.divCreaChamps{

    width: 500px;

}

.NomChamps{

    width: 400px;
    height: 40px;
    font-size: 20px;

    border: 0.5px solid gray;

}

.NomchoixChamps{

    width: 200px;
    height: 30px;
    font-size: 17px;

    border: 0.5px solid gray;

}

.labelChoixC{

    font-size:20px;

}

.labelValida{

    font-size:18px;

}



@media screen and (max-width: 1700px){

    .champRow{
        display: flex;
        flex-direction: row;
    }

    .Lienrow{
        display: flex;
        flex-direction: row;
    }

    .divChamps{
        overflow: scroll;
        overflow-x: hidden;
        width: 70%;
        height: 43rem;
        min-width: 30rem;
        background-color: white;
        border: solid 3px #282c34;
    }
}