.felxRowConstraint {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    padding: 1rem;
    padding-left: 5rem;
}

.divChamps{
    overflow: scroll;
    overflow-x: hidden;
    width: 70%;
    height: 55rem;
    min-width: 30rem;
    background-color: white;
    border: solid 3px #282c34;
    z-index: 10;
}

.divCreaChamps{

    width: 500px;

}

.NomChamps{

    width: 400px;
    height: 40px;
    font-size: 17px;

    border: 0.5px solid gray;

}

.TextAreaChamp{

    width: 400px;
    height: 100px;
    margin-bottom:15px;
    border:1px solid gray;
    font-weight: bold;
    

}

.NomchoixChamps{

    width: 200px;
    height: 30px;
    font-size: 14px;

    border: 0.5px solid gray;

}

.labelChoixC{

    font-size:17px;

}

.labelValida{

    font-size:15px;

}
.Lienrow{
    display: flex;
    flex-direction: row;
}

.SelectChamps{

    width: 407px;
    height: 106px;
    font-size: 17px;

    border: 0.5px solid gray;

}



@media screen and (max-width: 1700px){

    .champRow{
        display:flex;
    }

    .divChamps{
        overflow: scroll;
        overflow-x: hidden;
        width: 70%;
        height: 43rem;
        min-width: 54rem;
        background-color: white;
        border: solid 3px #282c34;
    }

}